<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-3 col-xs-12" id="f_petname_div" class='form-group'> 
    <label>Pet Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <input type="text" class="form-control " id="f_petname" required>
  </div>  

  <div class="col-sm-3 col-xs-12" id="f_breed_div" class='form-group'> 
    <label>Breed <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <select type="text" class="form-control " id="f_breed" required>
    	<option value="none"> -- SEARCH Breed -- </option>
    </select>
  </div>              

  <div class="col-sm-3 col-xs-12" id="f_color_div" class='form-group'> 
    <label>Color <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
    <input type="text" class="form-control " id="f_color" required>
  </div>  

  <div class="col-sm-3 col-xs-12" id="f_markings_div" class='form-group'> 
    <label>Markings <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
    <input type="text" class="form-control " id="f_markings" required>
  </div>    
</div> <!-- /.row -->   

<div class="row">

  <div class="col-sm-3 col-xs-12" id="f_birthdate_div" class='form-group'> 
    <label>Birthdate <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
    <input type="date" class="form-control " id="f_birthdate" required>
  </div>    

  <div class="col-sm-3 col-xs-12" id="f_sex_div" class='form-group'> 
    <label>Sex <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
    <select type="text" class="form-control " id="f_sex" required>
      <option val="none"> -- SELECT SEX --</option>
      <option value="M">Male</option>
      <option value="F">Female</option>      
    </select>
  </div>   

</div>

