<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-4 col-xs-12" id="f_product_div" class='form-group'> 
    <label>Product Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <input type="text" class="form-control " id="f_product" required>
  </div>  

  <div class="col-sm-4 col-xs-12" id="f_category_div" class='form-group'> 
    <label>Category <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <select type="text" class="form-control " id="f_category" required>
    	<option value="none"> -- SEARCH CATEGORY -- </option>
    </select>
  </div>              

  <div class="col-sm-4 col-xs-12" id="f_packaging_div" class='form-group'> 
    <label>Packaging <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <select type="text" class="form-control " id="f_packaging" required>
      <option value="none"> -- SEARCH PACKAGING -- </option>
    </select>
  </div>   

</div><!--row-->

<div class="row">

  <div class="col-sm-2 col-xs-12" id="f_weight_div" class='form-group'> 
    <label>Weight <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
    <input type="number" class="form-control " id="f_weight" required>
  </div>  

  <div class="col-sm-2 col-xs-12" id="f_unit_div" class='form-group'> 
    <label>Unit Modifier <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <select type="text" class="form-control " id="f_unit" required>
      <option value="none"> -- SELECT -- </option>
    </select>
  </div>   

  <div class="col-sm-3 col-xs-12" id="f_price_div" class='form-group'> 
    <label>Price <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> 
    <input type="number" class="form-control " id="f_price" required>
  </div>    

  <div class="col-sm-5 col-xs-12" id="f_desc_div" class='form-group'> 
    <label>Description</label> 
    <textarea rows="2" style="resize:none" class="form-control " id="f_desc"></textarea>
  </div>    


</div> <!-- /.row -->   

