<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-5 col-xs-12" id="f_brand_div" class='form-group'> 
    <label>Brand Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <input type="text" class="form-control input-lg" id="f_brand" required>
  </div>  

  <div class="col-sm-5 col-xs-12" id="f_generic_div" class='form-group'> 
    <label>Generic Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <select type="text" class="form-control input-lg" id="f_generic" required>
    	<option val="none"> -- SEARCH GENERIC -- </option>
    </select>
  </div>              

</div> <!-- /.row -->   

