<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-4 col-xs-12" id="f_service_name_div" class='form-group'> 
    <label>Service Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
    <input type="text" class="form-control input-lg" id="f_service_name" required>
  </div>  

  <div class="col-sm-4 col-xs-12" id="f_category_div" class='form-group'> 
    <label>Category <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
    <select type="text" class="form-control input-lg" id="f_category" required>
      <option value="none"> -- SELECT CATEGORY -- </option>
      <option value="Vet">Vet</option>
      <option value="Grooming">Grooming</option>
      <option value="Lab Exam">Lab Exam</option>      
    </select>
  </div>      

  <div class="col-sm-4 col-xs-12" id="f_price_div" class='form-group'> 
    <label>Price <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
    <input type="number" class="form-control input-lg" id="f_price" required>
  </div>  


        

</div> <!-- /.row -->   

