<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-4 col-xs-12" id="f_unit_name_div" class='form-group'> 
    <label>Unit Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
    <input type="text" class="form-control input-lg" id="f_unit_name" required>
  </div>  

  <div class="col-sm-4 col-xs-12" id="f_abbreviation_div" class='form-group'> 
    <label>Abbreviation <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
    <input type="text" class="form-control input-lg" id="f_abbreviation" required>
  </div>  


  <div class="col-sm-4 col-xs-12" id="f_unit_type_div" class='form-group'> 
    <label>Unit Type <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label>
    <select type="text" class="form-control input-lg" id="f_unit_type" required>
    	<option value="none"> -- SELECT TYPE -- </option>
      <option value="Length">Length</option>
      <option value="Mass">Mass</option>
      <option value="Time">Time</option>      
    </select>
  </div>              

</div> <!-- /.row -->   

