<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-5 col-xs-12" id="f_breedname_div" class='form-group'> 
    <label>Breed Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <input type="text" class="form-control input-lg" id="f_breedname" required>
  </div>  

  <div class="col-sm-5 col-xs-12" id="f_speciesname_div" class='form-group'> 
    <label>Species Name <span class="glyphicon glyphicon-asterisk" aria-hidden="true" style="color:orange"></span></label> <!-- Prod_Name -->
    <select type="text" class="form-control input-lg" id="f_speciesname" required>
    	<option val="none"> -- SEARCH SPECIES -- </option>
    </select>
  </div>              

</div> <!-- /.row -->   

