<hr>

<div class="row" style="margin-bottom:5px"> <!-- ROW 1 -->
  
  <div class="col-sm-3 col-xs-12" id="f_breedname_div" class='form-group'> 
    <label><font color="darkred">*</font>Breed Name</label> <!-- Prod_Name -->
    <input type="text" class="form-control" id="f_breedname" required>
  </div>  

  <div class="col-sm-3 col-xs-12" id="f_speciesname_div" class='form-group'> 
    <label><font color="darkred">*</font>Species Name</label> <!-- Prod_Name -->
    <select type="text" class="form-control" id="f_speciesname" required>
    	<option val="none"> -- SEARCH SPECIES -- </option>
    </select>
  </div>              

</div> <!-- /.row -->   

